@import "_media.scss";
@import "_sittings.scss";
@import "_fonts.scss";



header{
	.header_bg{
		width: 100%;
		height: 590px;
		background: url(../img/header/bg.png) no-repeat center top / cover;
		.center_logo_menu{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
			-ms-align-items: center;
			align-items: center;
			#my_h1{
				margin-top: 60px;
				margin-bottom: 30px;
			}
			menu{
				ul{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: space-around;
					li{
						margin: 0 16px;
						transition: 0.4s;
						&:hover{
							transform:scale(1.3);

						}
						a{

						}
					}
				}
			}
			h1{
				margin-top: 69px;
				margin-bottom: 32px;
			}
			h4{
				margin-bottom: 70px;
			}
			button{
				height: 50px;
				width: 234px;
				padding: 8px auto;
				background: $color_site;
				-webkit-box-shadow: none;
				border: none;
				border-radius: 25px;
				&:hover{
					background: $color_site_hover;
				}
			}
		}
	}
}
/*##############   read_section   ################################*/

.read_section{
	background: #eeeeef;
	.read_flex{
		width: 900px;
		padding-bottom: 60px;
		padding-top: 46px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		.read_block{
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			text-align: center;
			-ms-align-items: center;
			align-items: center;
			padding: 20px 30px;
			&:hover{
				&:nth-child(1):after{
					content:'';
					justify-content: center;
					position: absolute;
					width: 200px;
					height: 200px;
					background: url(../img/read_section/hover/1.jpg);
					top: -180px;
					border-radius: 10px;
					-webkit-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					-moz-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
				}
				&:nth-child(2):after{
					content:'';
					justify-content: center;
					position: absolute;
					width: 200px;
					height: 200px;
					background: url(../img/read_section/hover/2.jpg);
					top: -180px;
					border-radius: 10px;
					-webkit-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					-moz-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
				}
				&:nth-child(3):after{
					content:'';
					justify-content: center;
					position: absolute;
					width: 200px;
					height: 200px;
					background: url(../img/read_section/hover/3.jpg);
					top: -180px;
					border-radius: 10px;
					-webkit-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					-moz-box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);
					box-shadow: inset 0px 0px 46px -27px rgba(0,0,0,0.75);

				}

			}
			
			img{
			}
			h3{
				margin-top: 34px;
				margin-bottom: 42px;
				color: #63686e;
			}
			p{
				color: #787b80;
				max-width: 166px;
			}
		}
	}
}

/*######################   template_section   #########################*/

.template_section{
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
	padding-top: 61px;
	padding-bottom: 75px;
	background: #f5f5f5;
		.template_flex{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			.template_block{
				width: 500px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				img{
					width: 100%;
					height: auto;
				}
				h2{
					margin-top: 36px;
					margin-bottom: 48px;
					color: $color_my_p;
					font-weight: bold;
				}
				p{
					color: $color_my_p;
					line-height: 25px;
					margin-bottom: 32px;
				}
				button{
					width: 100px;
					height: 34px;
					background: $color_site;
					border-radius:25px;
					border: none;
					justify-content: left;
					transition: 0.4s;
					&:hover{
						background: $color_site_hover;
					}
				}
			}
		}
}

/*######################   template_section   #########################*/


.support_section{
		padding-bottom: 62px;
		padding-top: 62px;
		background: #eeeeef;
		.support_section_centr{
		width: 900px;
		h2{
			color: #384048;
		}
		hr{
			width: 90%;
		}
		p{
			color: $color_my_p;
			line-height: 25px;
			margin-top: 29px;
			margin-bottom: 29px;
		}
		button{
			background: #d2d5da;
			width: 110px;
			height: 36px;
			border: none;
			border-radius: 18px;
			transition: 0.4s;
			&:hover{
				background: $color_site;
			}
		}
	}
}


/*######################   layered_section   #########################*/

.layered_section{
	height: 442px;
	padding-top: 61px;
	padding-bottom: 161px;
	.layered_center{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		.layered_block{
			width: 410px;
			height: 450px;
			padding: 20px;
			img{
				width: 100%;
				height: auto;
			}
			h3{
				margin-top: 32px;
				margin-bottom: 38px;
				color: $color_my_p;
			}
			hr{}
			.show_block{
				margin-top: 20px;
				overflow: hidden;
				text-overflow: clip;
				height: 50px;
				width: 100%;
				position: relative;
				span{
					width: 100%;
					height: 160px;
					position: absolute;
					z-index: 10;
					color: $color_my_p;
					font-size: 22px;
					line-height: 20px;

				}
			}

		}
	}

}
/*######################   send_section   #########################*/



.send_section{
	margin:0 auto;
	padding-top: 32px;
	padding-bottom: 61px;
	background: #eeeeef;
	.send_section_cenrt{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		.send{
			width: 500px;
			div{
				img{
					float: left;
				}
				h2{
					padding-left: 40px;
					color: $color_my_p;
					padding-bottom: 12px;
				}
			}
			hr{
				width: 500px;
			}
			p{
				margin-top: 20px;
				margin-bottom: 24px;
				color: $color_my_p ;
			}
			button{
				background: $color_site;
				border:none;
				width: 100px;
				height: 32px;
				border-radius: 16px;
				transition: 0.4s;
				&:hover{
				background: #d2d5da;
			}
			}
		}
	}
}




/*######################   themeforest_section   #########################*/

.themeforest_section{
	padding-top: 52px;
	padding-bottom: 52px;
	width: 100%;
		.themeforest_section_center{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			width: 100%;
			.img{
				position: relative;

				img{
					position: absolute;
					top: 0%;
					left: 200px;/*
					transform: translate(-50%,-50%);*/
				}
			}
			.page{
				width: 600px;
				h2{
					color: $color_my_p ;
					margin-bottom: 26px;

				}
				hr{
					width: 400px;
					margin: 0;
					padding: 0;
				}
				p{
					clear: both;
					color: $color_my_p ;
					margin: 36px 0;

				}
				button{
					margin-top: 20px;
					background: $color_site;
					border:none;
					width: 100px;
					height: 32px;
					border-radius: 16px;
					transition: 0.4s;
					&:hover{
						background: #d2d5da;
					}	


				}
			}
		}
}



.star_section{
	background: #50c3af;
	width: 100%;
	height: auto;
	padding-top: 31px;
	padding-bottom: 62px;

	.star_section_center{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		text-align: center;
		h2{
			font-size: 32px;
			letter-spacing: 4px;
			font-weight: bold;
		}
		.star_flex{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			img{
				padding-top: 53px;
				width: 230px;
				height: 45px;
			}
		}
	}
}

footer{
	background: #f5f5f5;
	.footer_center{
		padding: 18px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;

		a{
			padding: 5px;
			color: $color_my_p;
			span{
				color: $color_my_p;
			}
		}
		div{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				width: 80px;	
			a{
				color: $color_my_p;
				&:nth-child(1){}
				&:nth-child(2){}
				&:nth-child(3){}
			}
		}
	}
}